.search-input{
    width: 400px;
    border: 1px solid #000;
    height: 50px;
    display: flex;
    position: relative;
    align-items: center;
    gap: 5px;
}
.search-input input{
    border: none;
    font-size: 20px;
    max-width:  100%;
    width: 100%;
}
.search-input input:focus-visible{
    outline: none;
}

.list-style{
    position: absolute;
    top: 100%;
    width: 100%;
    border: 1px solid #000;
}

.list-style li{
    padding: 3px 5px;
    border-bottom: 1px solid #000;
    cursor: pointer;
}